body {
	font-family: Verdana, Helvetica, sans Serif;
	font-size:12px;
	margin: 0 auto;
	height:auto;
}
.title {
	width:100%;
	text-align:center;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
	color: #0080ff;
	font-size: 50px;
	float:left;
	clear:both;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}


#header {
	height:80px;
}

#home{
	margin-left: 0;
	margin-right: 0;
    height : 700px;
}
#contener {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  

}
#mapDiv {
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	border: 1px solid #0080ff;	
	margin-left: 0;
	margin-right: 0;
	height: 50%;
}

#title { 
font-family: Verdana ;
font-style: bold; 
color:blue;
font-size:30px;
} 

#info{
font-family: comic ;
font-style: bold; 
color:red;
font-size:11px;
}